.border-rotation {
  width: 2000px;
  height: 200px;
  top: 50%;
  left: -40%;
  transform: rotate(45deg);
  transform: translate(0, -50%);
  animation: slow-spin 5s linear infinite;
  transform-origin: center;
}
@keyframes slow-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animated-svg path {
  stroke-dasharray: 500; /* Adjust this to match the length of the path */
  stroke-dashoffset: 500;
  transition: stroke-dashoffset 1500ms ease-in-out;
}

.animated-svg.visible path {
  stroke-dashoffset: 0;
}
